<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <p style="margin-top:8px; height:90px text-align:center" class="p-3 mb-2 bg-light text-dark">PHARMACY ALQOTES👩‍🔬👨‍🔬</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button style="margin-top:8px; " type="button" class="btn btn-danger"> <a style=" text-align: center;
            text-decoration: none;color:white; " href="{% url 'application:Home'%}">Home</a></button>
        </li>
        <li class="nav-item">
          <button style="margin-top:8px; margin-left:5px; " type="button" class="btn btn-light"><a style=" text-align: center;
            text-decoration: none; " href="{% url 'application:signup'%}">Signup Medicine</a></button>
           </li> 



      </ul>
    </div>
  </div>
</nav>